:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:rgb(255, 255, 255);
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:36px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}


header nav a:hover{
    color:#fff;
}


/*dados relacionados ao card principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0, .50), rgba(0,0,0, .50)100%), url('/img/DISTURBED.jpg');
    height: 400px;
    background-size: cover;
    

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

}

.filme-principal .titulo{

    color: #D9CECA;
    font-size: 40px;
    margin-bottom: 30px;
    padding: 10px;
}

.filme-principal .sub-titulo{

    padding: 10px;
    margin-bottom: 90px;

}