:root{
    --vermelho:#E50914;
    --preta:#141414;
    --cinza:#d3d3d3;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:rgb(255, 255, 255);
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    margin-left: 5px;
    color: var(--cinza);
    font-family: "/font/Disturbed.otf";
    font-size:30px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}


header nav a:hover{
    color:#fff;
}


/*dados relacionados ao card principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0, .50), rgba(0,0,0, .50)100%), url('/img/DISTURBED.jpg');
    height: 400px;
    background-size: cover;
    

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

}

.filme-principal .titulo{

    margin-top: 5%;
    color: #D9CECA;
    color: var(--cinza);
    font-family: "/font/Disturbed.otf";
    font-size:30px;
    margin-bottom: 30px;
    padding: 10px;
}

.filme-principal .sub-titulo{

    padding: 10px;
    margin-bottom: 40px;

}

.botao{

   background-color: rgba(0,0,0, .50);
   border: none; 
   color: white;

   padding: 15px 30px;
   font-size: 12px;
   
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{

    background-color: rgb(117, 114, 114);
    color: #ffffff;

}

.botao i{
margin-right: 5px;

}